/*menu*/

body {
    padding: 0;
    margin: 0;
    font-family: 'Ysabeau Infant', sans-serif;
    background-color: #414a4c;
    overflow-x: hidden;
}

header {
    height: 118px;
    display: flex;
    background-color: #3b444b;
    opacity: 90%;
    align-items: center;
}

.navbar {
    flex: 3;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 70%;
}

a {
    text-decoration: none;
} 

.logo-container {
    flex: 2;
    display: flex;
    align-items: center;
}

.logo {
    height: 100px;
    width: 100px;
    margin-left: 20px;

}

h4 {
    margin-left: 40px;
}

h4, a {
    font-size: 25px;
    color: antiquewhite;
}

a:hover {
    color:red;
}

/* Gestione responsivness navbar*/

.fa-bars {
    margin-right: 40px;
    align-items: center;
    color: white;
    cursor: pointer;
    display: none;
}


.burger {
    display: none;
}

@media (max-width: 970px){
    body {overflow-x: hidden;
    }
    .navbar {
        position: absolute;
        right: 0;
        height:92vh;
        top:8vh;
        width: 35%;
        transform: translateX(100%);
        transition: 0.8s ease-in;
        background-color: #3b444b;
    }
    
    .nav-links {
        display: flex;
        flex-direction: column;
        padding-top: 100px;
        align-items: center;
    }

    .nav-links a {
        color: aliceblue;
        margin-bottom: 10px;
    }

    .nav-links a:hover {
        color: white;
        padding: 8px 8px 8px 32px;
    }

    .navbar {
        opacity: 100%;
        color: aliceblue;
    }
    
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}
/*fine responsivness navbar*/

.intro {
    margin-top: 50px;
    text-align: center;
}

.intro-text {
    color:white;
    font-size: 30px;
    font-weight: 500;
}

.foto-1, .foto-2 {
    display: flex;
}

.menu-1 {
    height: 1000px;
    width: auto;
    position: relative;
    margin: auto;
    padding-top: 80px;
}

.menu-2 {
    height: 1000px;
    position: relative;
    margin: auto;
    padding-top: 10px;
}

/* Resposiveness menu */

/* Fine Resposiveness menu */

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid red;
    height: 800px;
}

.container-2 {
    display: flex;
    flex-direction: column;
    border: solid green;
}

.booking-container {
    display: flex;
    border: solid blue;
    height: 800px;
    width: 400px;
    color: white;
}

.foto-container {
    display: flex;
    border: solid violet;
    height: 390px;
    width: 600px;
    top: auto;
}

.foto-container-2 {
    display: flex;
    border: solid violet;
    height: 390px;
    width: 600px;
    top: auto;
}

.booking-text {
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
}

#nome {
    font-size: 50px;
    font-weight: 600;
}

#indirizzo, #telefono {
    font-size: 25px;
    font-weight: 200;
}

#cta {
    font-size: 25px;
    font-weight: 200;
}

.foto-container {
    display: flex;
    background-image: url("../images/esterno.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 10px;
}

.foto-container-2 {
    display: flex;
    background-image: url("../images/interno2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.form-container {
    border: solid yellowgreen;
    height: 500px;
}

label {
    color: aliceblue;
}

input[type=text], textarea {
    width: 40%;
    align-items: center;
}

input[type=submit] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
  }

.team {
    display: flex;
    border: solid red;
    height: 500px;
    background-image: url("../images/interno3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 70%;
    background-position-x: center;
}

.team-foto {
    /*height: 500px;
    width: 100%;*/
    max-width: 100%;
    height: auto;
}

.container-storia {
    display: flex;
    flex-direction: column;
    height: 300px;
    border: solid greenyellow;
    color: aliceblue;
    padding: 50px;
}

h1 {
    display: flex;
    padding-top: 5px;
    margin: auto;
    font-size: 40px
}

.storia {
    display: flex;
    margin: auto;
}

.card-container {
    display: flex;
    padding: 30px;
    color: aliceblue;
    border: solid red;
    justify-content: center;

}

.card-1, .card-2, .card-3 {
    background-color: #4d5152;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
    height: 350px;
}

.card-image-1, .card-image-2, .card-image-3 {
    background-image: url("../images/portrait.jpg");
    background-size: cover;
    background-position-y: 40%;
    width: 250px; 
    height: 250px; 
    border-radius: 50%;
}


.container-card-1 {
    display: flex;
    border: solid seagreen;
}

.container-card-2 {
    display: flex;
    border: solid seagreen;
}
 
.container-card-3 {
    display: flex;
    border: solid seagreen;
}  

b {
    text-align: center;
  }

