/*menu*/

body {
    padding: 0;
    margin: 0;
    font-family: 'Ysabeau Infant', sans-serif;
    background-color: #414a4c;
}

header {
    height: 118px;
    display: flex;
    background-color: #3b444b;
    opacity: 90%;
    align-items: center;
}

.navbar {
    flex: 3;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 70%;
}

a {
    text-decoration: none;
} 

.logo-container {
    flex: 2;
    display: flex;
    align-items: center;
}

.logo {
    height: 100px;
    width: 100px;
    margin-left: 20px;
}

h4 {
    margin-left: 40px;
}

h4, a {
    font-size: 25px;
    color: antiquewhite;
}

a:hover {
    font-weight: bold;
}

#phone-logo:hover {
    color: #252828;
}

/* Gestione responsivness navbar*/

.fa-bars {
    margin-right: 40px;
    align-items: center;
    color: white;
    cursor: pointer;
    display: none;
}

.burger {
    display: none;
}

@media (max-width: 835px){
    body {overflow-x: hidden;
    }
    .navbar {
        position: absolute;
        right: 0;
        height:92vh;
        top:8vh;
        width: 35%;
        transform: translateX(100%);
        transition: 0.8s ease-in;
        display: none;
        background-color: #3b444b;
    }
    
    .nav-links {
        display: flex;
        flex-direction: column;
        padding-top: 100px;
        align-items: center;
    }

    .nav-links a {
        color: aliceblue;
        margin-bottom: 10px;
    }

    .nav-links a:hover {
        color: white;
        padding: 8px 8px 8px 32px;
    }

    .navbar {
        opacity: 100%;
        color: aliceblue;
    }
    
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
    display: block;
}

/*fine responsivness navbar*/

/* Menu */

.intro {
    margin-top: 50px;
    text-align: center;
}

.intro-text {
    color:white;
    font-size: 30px;
    font-weight: 500;
}

.foto-1, .foto-2 {
    display: flex;
}

.menu-1 {
    height: 1000px;
    width: auto;
    position: relative;
    margin: auto;
    padding-top: 80px;
}

.menu-2 {
    height: 1000px;
    position: relative;
    margin: auto;
    padding-top: 10px;
    margin-bottom: 100px;
}

/* Menu end */

/* Resposiveness menu */

/* Fine Resposiveness menu */

/* Booking gallery */

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid red;
    height: 800px;
    margin-top: 50px;
}

.container-2 {
    display: flex;
    flex-direction: column;
    border: solid green;
}

.booking-container {
    display: flex;
    border: solid blue;
    height: 800px;
    width: 400px;
    color: white;
}

.foto-container {
    border: solid violet;
    height: 390px;
    width: 600px;
    top: auto;
    background-image: url("../images/esterno.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.foto-container-2 {
    border: solid violet;
    height: 390px;
    width: 600px;
    top: auto;
    background-image: url("../images/interno2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.booking-text {
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
}

#nome {
    font-size: 50px;
    font-weight: 600;
}

#indirizzo, #telefono {
    font-size: 25px;
    font-weight: 200;
}

#cta {
    font-size: 25px;
    font-weight: 200;
    margin-bottom: 200px;
}


/* end Booking gallery */

/* form */

.form-container {
    border: solid yellowgreen;
    margin: auto;
    padding-top: 40px;
    height: 600px;
    font-size: 20px;
}

form {
    text-align: center;
    color: aliceblue;
}

input[type=text] {
    width: 40%;
    align-items: center;
    border-radius: 10px;
    height: 30px;
}

textarea {
    width: 50%;
    align-items: center;
    border-radius: 10px;
}

input[type=submit] {
    background-color: #252828;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 20px;
}

/* Form end */

.team {
    display: flex;
    border: solid red;
    height: 500px;
    background-image: url("../images/interno3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 70%;
    background-position-x: center;
}

.team-foto {
    /*height: 500px;
    width: 100%;*/
    max-width: 100%;
    height: auto;
}

.container-storia {
    display: flex;
    flex-direction: column;
    height: auto;
    border: solid greenyellow;
    color: aliceblue;
    padding: 50px;
}

h1 {
    display: flex;
    padding-top: 5px;
    margin: auto;
    font-size: 40px
}

.storia {
    display: flex;
    margin: auto;
}

.card-container {
    display: flex;
    padding: 30px;
    color: aliceblue;
    border: solid red;
    justify-content: center;

}

/*
.card-1, .card-2, .card-3 {
    background-color: #4d5152;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
    height: 350px;
}

.card-image-1, .card-image-2, .card-image-3 {
    background-image: url("../images/portrait.jpg");
    background-size: cover;
    background-position-y: 40%;
    width: 250px; 
    height: 250px; 
    border-radius: 50%;
}

.container-card-1 {
    display: flex;
    border: solid seagreen;
}

.container-card-2 {
    display: flex;
    border: solid seagreen;
}
 
.container-card-3 {
    display: flex;
    border: solid seagreen;
}  

b {
    text-align: center;
  }

*/  

/* Ante e Post */
  
.ante-post-container {
    border: solid red;
    display: flex;
    height: 400px;
    margin-top: 10px;
    padding-top: 5px;
}

.ante-container, .post-container {
    border: solid greenyellow;
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
}

.ante {
    border: solid blueviolet;
    color: aliceblue;
    display: flex;
    margin: auto;
}

.post {
    border: solid blueviolet;
    color: aliceblue;
    display: flex;
    text-align: center;
    margin: auto;
}

.foto-ante {
    border: solid burlywood;
    height: 300px;
    background-image: url(../images/esterno.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.foto-post {
    border: solid burlywood;
    height: 300px;
    background-image: url(../images/esterno.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Ante e Post end */

/*footer*/

footer {
    height: 160px;
    background-color: #2F3233;
    display: flex;
    flex-direction: column;
}

.footer-logo {
    display: flex;
    margin: auto;
    height: 10px;
    margin-top: 20px;
    height: 30px;
}

.footer-image {
    height: 50px;
    width: 50px;
}

.footer-text {
    color: aliceblue;
    text-align: center;
    margin-top: 20px;
}

/* footer end */

/* responsiveness About */

@media (max-width: 835px){
    .ante-post-container {
        flex-direction: column;
        height: auto;
    }

    .ante-container {
        margin-bottom: 50px;
    }
}   

/* responsiveness Menu */

@media (max-width: 835px){
    .menu-1, .menu-2 {
        width: 100%;
        height: auto;
        margin-right: 30px;
    }
    .intro-text {
        font-size: 25px;
        margin-left: 5%;
        margin-right: 5%;
    }
}   

/* responsiveness Booking */

@media (max-width: 1030px){
    .main-container {
        flex-direction: column;
        height: auto;
    }
    
    .booking-container {
        height: auto;
        margin-bottom: 50px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .booking-text {
        width: 100%;
    }

    .container-2 {
        width: 100%;
    }

    .foto-container, .foto-container-2 {
        width: 100%;
    }
}   